a{
    text-decoration: none;
}

.fa-thumbs-down:before {
    content: "\f165";
}
.fa {
	font-size:10px;
cursor:pointer;
border-radius:100%;
color: green;
text-align: left;

}
.fa:hover{
	color:red;
}

@media only screen and (max-width:5000px){
    body{
       margin: 0;   
        background-color: #63B8FF; 
    }
    fieldset{
        border:2px black solid;
        border-radius: 10px;
        width: 250px;
    }
    .menu{
        background-color: #363636;
        padding: 15px;
        color: white;
    }
    li{
        padding-right: 5vw;
        display: inline-block;
    }
    .menu img{
        width: 150px;
        height: 50px;    
        }
    ul{
        text-align: center;
        
    }
    .roda{
        background-color: #363636;    
        color: white;
        position: absolute;      
        width: 100%;    
    }
    .meio{       
        height: 900px;
    }
    h2{
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }
                                               
                                                    }   
                                                    /* Tamanho médio 1280PX  */
    @media only screen and (max-width:1280px){
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         .menu{
             background-color: #363636;
             padding: 15px;
             color: white;
         }
         fieldset{
            border:2px black solid;
            border-radius: 10px;
            width: 25%;
        }
         li{
             padding-right: 5vw;
             display: inline-block;
         }
         .menu img{
             width: 150px;
             height: 50px;    
             }
         ul{
             text-align: center;
             
         }
         
         .roda{
             background-color: #363636;    
             color: white;
             position: absolute;            
             width: 100%;
         
         }
         .meio{       
             height: 1200px;
         }
         h2{
             font-size: 50px;
         }
         p{
             font-size: 30px;
         }
    
    
    
    
    }
                                                        /* TAMANHO PEQUENO 900PX  */
    @media only screen and (max-width:900px){
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         .menu{
             background-color: #363636;
             padding: 15px;
             color: white;
         }
         fieldset{
            border:2px black solid;
            border-radius: 10px;
            width: 40%;
        }
         li{
             padding-right: 5vw;
             display: inline-block;
         }
        
        .rtable tbody td{
            display: inline-flex;

       }
         .menu img{
             width: 150px;
             height: 50px;    
             }
         ul{
             text-align: center;
             
         }
         .roda{
             background-color: #363636;    
             color: white;
             position: absolute;            
             width: 100%;
         
         }
         .meio{       
             height: 2200px;
         }
         h2{
             font-size: 50px;
         }
         p{
             font-size: 30px;
         }
    
    
      
        }

    
                                                        /* MOBILE 700PX  */
    @media only screen and (max-width:700px){
     
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         
         form {
            display: inline-block;
            margin-top: 0em;

        }
        table {
            display: table;
            border-collapse: separate;
            box-sizing: border-box;
            border-spacing: 2px;
            border-color: grey;
        }
         .menu{
             background-color: #363636;
             padding: 10px;
             color: white;
    
         }
         fieldset{
            border:2px black solid;
            border-radius: 10px;
            width: 250px;
        }
         li{
             padding-right: 5vw;
            
         }
         .menu img{
             width: 150px;
             height: 50px;    
             }
         ul{
             text-align: right;
             padding: 15x;         
         }
         .roda{
             background-color: #363636;    
             color: white;
             position: absolute;            
             width: 100%;
         
         }
         .rtable tbody td{
            display: flex; 

        }
         .meio{       
             height: 3000px;
         }
         h2{
             font-size: 24px;
         }
         p{
             font-size: 30px;
         }
    
        }
    
    
    