a{
    text-decoration: none;
}

.bot{
	height: 30px;
	width: 100px;
	font-size: 14px;
	font-weight:bold;
	position: relative;
	border-radius: 8px;
	background-color: #63B8FF;
	border:1px solid #363636;
		  
}
@media only screen and (max-width:5000px){
    body{
       margin: 0;   
        background-color: #63B8FF; 
    }
    .menu{
        background-color: #363636;
        padding: 15px;
        color: white;
    }
    li{
        padding-right: 5vw;
        display: inline-block;
    }
    .menu img{
        width: 150px;
        height: 50px;    
        }
    ul{
        text-align: center;
        
    }
    .roda{
        background-color: #363636;    
        color: white;
        position: absolute;       
        width: 100%;
    
    }
    .meio{       
        height: 800px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
    select {
		-webkit-appearance: none;     
		background: rgba(255, 255, 255, 0.05);
		border-radius: 0.25em;    
		border: solid 1px rgba(255, 255, 255, 0.15);
		color: #363636;        
		width: 35%;
		height: 50px;}
		
		textarea {               
			background: rgba(255, 255, 255, 0.05);
			border-radius: 0.25em;       
			border: solid 1px rgba(255, 255, 255, 0.15);
			color: #363636;         
			padding: 0 1em;
			text-decoration: none;
			width: 25%;
		}

input{
 width:180px;
 height:30px;
}
select{
 width:400px;
 font-size:19px;
}
                                               
                                                    }   
                                                    /* Tamanho médio 1280PX  */
    @media only screen and (max-width:1280px){
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         .menu{
             background-color: #363636;
             padding: 15px;
             color: white;
         }
         li{
             padding-right: 5vw;
             display: inline-block;
         }
         .menu img{
             width: 150px;
             height: 50px;    
             }
         ul{
             text-align: center;
             
         }
         .roda{
             background-color: #363636;    
             color: white;
             position: absolute;            
             width: 100%;
         
         }
         .meio{       
             height:1000px;
         }
         h2{
             font-size: 70px;
         }
         p{
             font-size: 30px;
         }
         select {
            -webkit-appearance: none;     
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0.25em;    
            border: solid 1px rgba(255, 255, 255, 0.15);
            color: #363636;        
            width: 35%;
            height: 50px;}
            
            textarea {               
                background: rgba(255, 255, 255, 0.05);
                border-radius: 0.25em;       
                border: solid 1px rgba(255, 255, 255, 0.15);
                color: #363636;         
                padding: 0 1em;
                text-decoration: none;
                width: 25%;
            }
    
    input{
     width:180px;
     height:30px;
    }
    select{
     width:400px;
     font-size:19px;
    }  
    
    
    
    }
                                                        /* TAMANHO PEQUENO 900PX  */
    @media only screen and (max-width:900px){
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         .menu{
             background-color: #363636;
             padding: 15px;
             color: white;
         }
         li{
             padding-right: 5vw;
             display: inline-block;
         }
         .menu img{
             width: 150px;
             height: 50px;    
             }
         ul{
             text-align: center;
             
         }
         .roda{
             background-color: #363636;    
             color: white;
             position: absolute;
             
             width: 100%;
         
         }
         .meio{       
             height: 833px;
         }
         h2{
             font-size: 70px;
         }
         p{
             font-size: 30px;
         }
         select {
            -webkit-appearance: none;     
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0.25em;    
            border: solid 1px rgba(255, 255, 255, 0.15);
            color: #363636;        
            width: 35%;
            height: 50px;}
            
            textarea {               
                background: rgba(255, 255, 255, 0.05);
                border-radius: 0.25em;       
                border: solid 1px rgba(255, 255, 255, 0.15);
                color: #363636;         
                padding: 0 1em;
                text-decoration: none;
                width: 25%;
            }
    
    input{
     width:180px;
     height:30px;
    }
    select{
     width:400px;
     font-size:19px;
    }
    
    
    
    
    }
    
                                                        /* MOBILE 600PX  */
    @media only screen and (max-width:700px){
    
        body{
            margin: 0;   
             background-color: #63B8FF; 
         }
         .menu{
             background-color: #363636;
             padding: 10px;
             color: white;
    
         }
         li{
             padding-right: 5vw;
            
         }
         .menu img{
             width: 150px;
             height: 50px;    
             }
             .meio{
                height: 800px;
            }
         ul{
             text-align: right;
             padding: 15x;         
         }
         .roda{
             background-color: #363636;    
             color: white;                         
             width: 100%;
            
         }
       
         h2{
             font-size: 24px;
         }
         p{
             font-size: 30px;
         }
         select {
            -webkit-appearance: none;     
            background: rgba(255, 255, 255, 0.05);
            border-radius: 0.25em;    
            border: solid 1px rgba(255, 255, 255, 0.15);
            color: #363636;        
            width: 15px;
            height: 30px;}
            
            textarea {               
                background: rgba(255, 255, 255, 0.05);
                border-radius: 0.25em;       
                border: solid 1px rgba(255, 255, 255, 0.15);
                color: #363636;         
                padding: 0 1em;
                text-decoration: none;
                width: 80%;
            }
    
    input{
     width:180px;
     height:30px;
    }
    select{
     width:350px;
     font-size:17px;
    }
    
        }
    
    
    